<style> 
{}
body {
  text-align:center;
}

.logoHead {
  height :60px;
  width :150px;
  }

.hr1 {
  width: 300px;
  }
.h2a {
  color:darkblue;
  }

.email1 {
  height: 40px;
  width: 250px;
  }

.button1 {
  height: 40px;
  width: 250px;
  color: white;
  background: darkblue;
  }

.hr2 {
  width:300px;
  }


.h43 {
  display: inline-block;
  }

.newuser1 {
  display: inline-block;
  text-decoration: none;
  color: blue;
  }

.forgot1 {
text-decoration: none;  
  }

</style>

