body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: linear-gradient(to bottom, gray, white)
}

.logoHead {
  height :60px;
  width :150px;
  }

.Ruler {
  width :300px;
  }

.FirstName {
  height: 40px;
  width: 250px;
  }

.LastName {
  height: 40px;
  width: 250px;
  }

.Email {
  height: 40px;
  width: 250px;
  }

.Password {
  height: 40px;
  width: 250px;
  }

.SignUp {
  height: 40px;
  width: 250px;
  color: white;
  background: gray;
  border: none;
  }

.SignIn {
  text-decoration: none;
  color: blue;
  }